@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
}

header li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

header li:hover {
  background-color: #b3e5fc;
}

header li.active {
  background-color: #b3e5fc;
}

header li a {
  text-decoration: none;
  color: #001942;
  font-weight: bold;
}

main {
  background-color: #dbeef2;
}

main .cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 30px;
  min-height: calc(100vh - 180px);
}

main .cards h2 {
  width: 100%;
  margin-bottom: 10px;
  color: #404040;
}

main .cards h3 {
  color: #597a99;
}

main .cards img {
  width: 300px;
  margin: 10px 20px 10px 0;
}

main .cards a {
  text-decoration: none;
  color: #597a99;
}

main .ban {
  background-color: #fff;
}

main .ban img {
  height: 140px;
}

main .ban .vp-preview {
  height: 800px;
}

